@model TatBlog.WebApp.Areas.Admin.Models.CategoryFilterModel

<form asp-area="Admin"
      asp-controller="Categories"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">


    <div class="col-auto">

        <a asp-area="Admin"
           asp-controller="Categories"
           asp-action="Edit"
           class="btn btn-success">
            Thêm mới
        </a>

    </div>


</form>