################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TatBlog.WebApi/Validations/AuthorValidator.cs
