
@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel

<form asp-area="Admin"
      asp-controller="Posts"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">
      <div class="col-auto">
          <label class="visually-hidden" asp-for="Keyword"></label>
          <input type="text"
              class="form-control"
              placeholder="Nhập từ khóa ..." />
           
      </div>

    <div class="col-auto">
        <label class="visually-hidden" asp-for="AuthorId"></label>
        <select class="form-select"
            asp-for="AuthorId"
            asp-items="Model.AuthorList">
                <option value="" selected>--  Chọn tác giả  --</option>
        </select>

    </div>
    <div class="col-auto">
        <label class="visually-hidden" asp-for="CategoryId"></label>
        <select class="form-select"
                asp-for="CategoryId"
                asp-items="Model.CategoryList">
            <option value="" selected>--  Chọn tác giả  --</option>
        </select>

    </div>
    <div class="col-auto">
        <label class="visually-hidden" asp-for="Mouth"></label>
        <select class="form-select"
                asp-for="Mouth"
                asp-items="Model.MouthList">
            <option value="" selected>--  Chọn tháng  --</option>
        </select>

    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Tìm/Lọc</button>
        <a asp-area="Admin"
            asp-controller="Posts"
            asp-action="Edit"
            class="btn btn-success">
        Thêm mới
        </a>
    </div>
  </form>

