@{
    ViewData["PageTitle"] = "Giới thiệu";

}
<div class="jumbotron">
    <h1 class="display-4">About Tips and Tricks</h1>
  
                <img  src="~/images/about.jpg" />
            
    
    <p class="lead">Welcome to Tips and Tricks – A platform to learn, and grow as a blogger or digital marketer. A community of enthusiastic Individuals who is popularly known as “Tips and Tricks”!.</p>
    <hr class="my-4">
    <p>Here is what you will find on ShoutMeLoud:.</p>
    <ul>
        <li>
            95% practical tips to create a blog & live your passion; the other 5% is for personal stories.
        </li>
        <li>
            Basic & advanced Blogging, WordPress, SEO, and Social media marketing techniques.
        </li>
       <li>
        A community of like-minded bloggers
        </li>
        <li>
        Digital marketing tips for bloggers, freelancers & Small businesses.
        </li>
        <li>
        Complete “How-To” of Blogging, Podcasting, YouTubing to increase traffic, sales & brand value.
        </li>
    </ul>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>