@using TatBlog.Services.Blogs;
@model IPagedList<Post>

@{
    ViewData["PageTitle"] = "Trang chủ";

    var postQuery = (ViewBag.PostQuery as PostQuery) ?? new PostQuery();
}

<div class="p-4">
    @if (!string.IsNullOrWhiteSpace(postQuery.KeyWord))
    {
        <h3 class="text-primary mb-3">
            Những bài viết chứa từ khóa '@postQuery.KeyWord'
        </h3>
    }

    @foreach (var postItem in Model)
    {
        <partial name="_PostItem" model="postItem" />
    }
    <partial name="_Pager" model="@Model" />
</div>
