@using TatBlog.Services.Blogs;
@model IPagedList<Post>

@{
    ViewData["PageTitle"] = "Trang chủ";

}

<div class="p-4">
   

    @foreach (var postItem in Model)
    {
        <partial name="_PostItem" model="postItem" />
    }
    
</div>

