@model IPagedList<Post>

@{
    ViewData["Title"] = "Chủ đề";

    var category = new Category();
    if (Model != null && Model.Count > 0)
        category = (Model[0].Category as Category);
}

<div class="p-4">
    @if (!string.IsNullOrWhiteSpace(category.Name))
    {
        <h3 class="text-primary mb-3">
            Những bài viết thuộc chủ đề '@category.Name'
        </h3>
    }

    @foreach (var postItem in Model)
    {
        <partial name="_PostItem" model="postItem" />
    }

    <partial name="_Pager" model="@Model" />
</div>