@model IList<CategoryItem>
<div class="mb-4">
    <h4 mb-2">
        Các chủ đề
    </h4>
    <ul class="list-group">
        @foreach (var item in Model)
        {
           
            <li class="list-group-item ">
                <a style="text-decoration: none;" class="text-secondary" asp-controller="Blog"
                   asp-action="Category"
                   asp-route-slug="@item.UrlSlug"
                   title="@item.Description">
                    @item.Name
                <span class="badge bg-secondary">@item.PostCount</span>
                
                 </a>
            </li>
        }
    </ul>
</div>