<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light
bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand"
               asp-area="Admin"
               asp-controller="Dashboard"
               asp-action="Index">
                Tips & Tricks
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-Collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse
         d-sm-inline-flex
         justiify-context-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are="Admin"
                           asp-controller="Categories"
                           asp-action="Index"
                        title="Xem danh sách chủ đề">
                           
                            Chủ đề
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are="Admin"
                           asp-controller="Authors"
                           asp-action="Index"
                           title="Xem danh sách tác giả">
                            Tác giả
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are="Admin"
                           asp-controller="Tags"
                           asp-action="Index"
                           title="Xem danh sách thẻ/từ khóa">
                            Thẻ
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are="Admin"
                           asp-controller="Posts"
                           asp-action="Index"
                           title="Xem danh sách bài viết">
                            Bài viết
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are="Admin"
                           asp-controller="Comments"
                           asp-action="Index"
                           title="Xem danh sách bình luận">
                            Bình luận
                        </a>

                    </li>
                </ul>
                <div>
                    <form asp-area=""
                          asp-controller="Blog"
                          asp-action="Index"
                          method="get">
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   name="k"
                                   placeholder="Enter keyword"
                                   aria-label="Enter keyword"
                                   aria-describedby="btnSearchPost">
                            <button class="btn btn-outline-secondary" type="button"
                                    id="btnSearchPost">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            
        </div>
    </nav>
</header>
