<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light
bg-white border-bottom box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand"
            asp-area=""
            asp-controller="Blog"
            asp-action="Index">
            Tips & Tricks
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-Collapse"
                 aria-controls="navbarSupportedContent"
                 aria-expanded="false"
                 aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon">
             </button>
         <div class="navbar-collapse collapse
         d-sm-inline-flex
         justiify-context-between">
         <ul class="navbar-nav flex-grow-1">
             <li class="nav-item">
                 <a class="nav-link text-dark"
                 asp-are=""
                 asp-controller="Blog"
                 asp-action="Index">
             Trang chủ
             </a>
                 
             </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are=""
                           asp-controller="Blog"
                           asp-action="Contact"
                            title="Xem thông tin liên lạc và góp ý">
                            Liên hệ
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are=""
                           asp-controller="Blog"
                           asp-action="About"
                        title="Thông tin về TAT Blog">
                            Gioi thiệu
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-are=""
                           asp-controller="Blog"
                           asp-action="Rss"
                        title="Tải danh sách bài viết mới">
                           RSS Feed
                        </a>

                    </li>
         </ul>
     </div>
    </div>
</nav>
</header>
