<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitle"] - Tips & Tricks Blog</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
     <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
     @await RenderSectionAsync("styles", required: false)
 </head>
<body>
    <partial name="_Header"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                @RenderBody()
            </div>
            <div class="col-3 border-start">
                <partial name="_SideBar"/>

            </div>

        </div>
    </div>
    <footer class="broder-top footer text-muted">
        <div class="container-fluid text-center">
            2023 - Tips & Tricks BLog
        </div>
    </footer>
    <script src ="~/lib/jquery/dist/jquery.min.js"></script>
    <script src ="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>

