<div class="my-4">
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")
    <hr />
    <h4>
        Bài viết nổi bật
    </h4>

    <hr />
    <h4>
        Đăng ký nhận tin mới
    </h4>
    <hr />
    <h4>
        Tag cloud
    </h4>
</div>