<div class="my-4">
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")
    <h1>
        Bài viết nổi bật
    </h1>

    <h1>
        Đăng ký nhận tin mới
    </h1>

    <h1>
        Tag cloud
    </h1>
</div>