<div class="my-4">
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")
    <hr />
    
    
      @await Component.InvokeAsync("Featured")
   
    <h4>
        Đăng ký nhận tin mới
    </h4>
    <hr />
    <h4>
        Tag cloud
    </h4>
</div>